@media (min-width: 600px) {
  .filter {
    left: 10%;
    right: 10%;
    min-width: 200px;
  }

  .filter-groups {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (max-width: 600px) {
  .filter {
    left: 10%;
    right: 10%;
    min-width: 100px;
  }
}

.filter-overlay {
  animation: fadein 0.2s;
  background-color: black;
  opacity: 10%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1;
}

.filter-box {
  position: relative;
}

.filter {
  animation: fadein 0.3s;
  border: solid;
  border-width: 1px;
  font-weight: 300;
  border-color: rgb(141, 141, 141);
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 10px;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 2;
}

.filter h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.filter h3 {
  font-weight: 300;
}

.section > label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-family: "Font Awesome 5 Free";
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
  }
}
