@media (min-width: 650px) {
  .list-entity-content {
    margin-left: 70px;
    padding: 20px;
  }

  .tags {
    margin: 10px 10px 10px 0px;
  }

  .img-content-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .etc {
    display: flex;
    align-items: center;
  }

  .list-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list-row:hover img {
    opacity: 90%;
  }
}

@media (max-width: 650px) {
  .list-entity-content {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .link {
    display: block;
    margin-left: 10px;
  }

  .tags {
    margin: 10px auto 10px auto;
    justify-content: center;
  }

  .list-row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .etc {
    display: flex;
    align-items: center;
  }

  .img-content-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-right: auto;
    margin-left: auto;
  }
}

.list {
  width: 100%;
  text-align: left;
  border-spacing: 10px 10px;
}

.list img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  filter: blur(5px);
  opacity: 50%;
  margin: 20px;
  width: 100px;
  height: 100px;
  transition: opacity 0.3s;
}

.list-entity-content {
  z-index: 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.list a {
  text-decoration: none;
}

.link {
  white-space: nowrap;
  font-family: "Font Awesome 5 Free";
  pointer-events: all;
  font-size: 1rem;
}

.link::after {
  content: " ";
  opacity: 0%;
  transition: opacity 0.1s;
}

.link:hover::after {
  opacity: 100%;
}

.row-name {
  font-size: 2rem;
  word-break: break-word;
}

.tags {
  display: flex;
  border-width: 1px;
  width: fit-content;
  font-size: 0.8rem;
  border-radius: 5px;
  flex-wrap: wrap;
}

.tags a {
  text-shadow: none;
  margin: 5px;
  color: inherit;
}

.tags a::before {
  color: rgb(0, 162, 255);
  content: "# ";
}

.num {
  font-size: 1rem;
  margin-right: 10px;
  opacity: 80%;
  display: inline;
}

.date {
  font-weight: 500;
  font-size: 0.7rem;
  opacity: 80%;
  margin-right: auto;
  margin-top: 10px;
}

.no-results {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 20px;
}

.edit-title {
  display: inline;
}

.title-delete-group {
  text-align: center;
  margin-top: 10px;
}

.list-collection-label {
  margin-top: 10px;
}

.list-collection-label a::before {
  font-family: "Font Awesome 5 Free";
  content: " ";
}

.list-collection-label a {
  opacity: 80%;
  color: inherit;
}

.return-btn {
  color: inherit;
  opacity: 80%;
  padding: 5px;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: none;
}
