.list {
  width: 100%;
  text-align: left;
  border-spacing: 10px 10px;
}

.list img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  filter: blur(5px);
  opacity: 60%;
  margin: 20px;
  width: 100px;
  height: 100px;
}

.img-content-grp {
  display: flex;
  align-items: center;
}

.list-row {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#273949;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 20px;
}

.list-entity-content {
  text-shadow: 1px 1px 2px black;
  z-index: 0;
  margin-left: 50px;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.list a {
  text-decoration: none;
  color: rgb(194, 193, 193);
  font-size: 1rem;
}

.list a:hover {
  text-decoration: underline;
}

.delete {
  color: white;
  cursor: pointer;
  transition: background-color 0.1s;
  font-family: 'Font Awesome 5 Free';
  padding: 10px;
  width: fit-content;
  height: fit-content;
  margin: 10px;
  border-radius: 10px;
}

.delete:hover {
  background-color: rgb(255, 123, 123);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.row-name {
  font-size: 2rem;
}

.tag {
  margin: 10px;
  border: solid;
  border-width: 1px;
  width: fit-content;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.num {
  font-size: 1rem;
}