@media (min-width: 650px) {
  .list-entity-content {
    margin-left: 70px;
  }

  .tags {
    margin: 10px 10px 10px 0px;
  }

  .img-content-grp {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .etc {
    display: flex;
    align-items: center;
  }

  .list-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .list a {
    text-decoration: none;
  }

  .list-row:hover img {
    opacity: 90%;
  }
}

@media (max-width: 650px) {
  .list-entity-content {
    margin-top: 50px;
  }

  .tags {
    margin: 10px auto 10px auto;
  }

  .list-row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .etc {
    display: flex;
    align-items: center;
  }

  .img-content-grp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link {
    text-decoration: underline;
  }

  .date {
    margin-left: auto;
  }

  .title {
    margin-right: auto;
    margin-left: auto;
  }
}

.list {
  width: 100%;
  text-align: left;
  border-spacing: 10px 10px;
}

.list img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  filter: blur(5px);
  opacity: 50%;
  margin: 20px;
  width: 100px;
  height: 100px;
  transition: opacity 0.3s;
}

.list-entity-content {
  z-index: 0;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.link {
  white-space: nowrap;
  font-family: "Font Awesome 5 Free";
  pointer-events: all;
  font-size: 1rem;
}

.link::after {
  content: " ";
  opacity: 0%;
  transition: opacity 0.1s;
}

.link:hover::after {
  opacity: 100%;
}

.edit-btn {
  margin: 20px 20px 20px 0px;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

.edit-btn:hover {
  background-color: rgb(76, 117, 170);
}

.edit-btn:active {
  box-shadow: 0px 0px 10px rgb(83, 143, 255);
}

.row-name {
  font-size: 2rem;
  word-break: break-word;
}

.tags {
  display: flex;
  border-width: 1px;
  width: fit-content;
  font-size: 1rem;
  border-radius: 5px;
  flex-wrap: wrap;
}

.tags a {
  margin-right: 10px;
  color: #2b8add;
  text-decoration: none;
}

.tags a::before {
  color: rgb(42, 125, 172);
  content: "# ";
}

.num {
  font-size: 1rem;
}

.delete {
  margin-top: 20px;
  margin-left: 10px;
  display: inline;
  font-size: 1.1rem;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 100%;
  font-family: "Font Awesome 5 Free";
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: rgba(255, 75, 75, 0.8);
  color: white;
  border: none;
  transition: box-shadow 0.1s;
}

.delete:hover {
  box-shadow: 0px 0px 10px rgb(255, 83, 140);
}

.date {
  font-weight: 500;
  font-size: 0.7rem;
  opacity: 80%;
  margin-right: auto;
}

.no-results {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 10px;
}

.edit-title {
  display: inline;
}

.title-delete-group {
  text-align: center;
}