.App {
  min-height: 96vh;
  padding: 2vh;
  background-color: #1f2c38;
  color: white;
}

.head {
  display: flex;
}

.search {
  border-radius: 10px;
  font-size: 1.5rem;
  padding-left: 10px;
  width: 40%;
}

.search-btn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #1f2c38b6;
}

.settings-btn {
  border-radius: 10px;
  color: #1f2c38b6;
}

.add-btn {
  border-radius: 10px;
  color: #1f2c38b6;
  margin-left: auto;
  margin-right: 10px;
}

textarea:focus, input:focus{
  outline: none;
}

.material-icons-outlined.md-36 { font-size: 36px; }
