.table {
  width: 100%;
  text-align: left;
  padding-top: 20px;
  border-spacing: 10px 10px;
}

.table td {
  font-size: 1.3rem;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.table th {
  font-size: 1.6rem;
  padding: 5px;
}

.table tbody tr:nth-of-type(2n-1) {
  background-color:#273949;

}

.table a {
  text-decoration: none;
  color: rgb(194, 193, 193);
  font-size: 1rem;
}

.table a:hover {
  text-decoration: underline;
}

.delete {
  background-color: rgb(255, 123, 123);
  color: white;
  cursor: pointer;
}

.number {
  text-align: center;
}
