.App {
  padding: 2vh;
  text-align: center;
  background-color: #1f2c38;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head {
  display: flex;
}

.search {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
}

.search-btn {
  padding: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #1f2c38b6;
}

.settings-btn {
  padding: 5px;
  border-radius: 10px;
  color: #1f2c38b6;
  margin-left: auto;
}

.add-btn {
  padding: 5px;
  border-radius: 10px;
  color: #1f2c38b6;
  margin-left: 10px;
}

textarea:focus, input:focus{
  outline: none;
}

.material-icons-outlined.md-36 { font-size: 36px; }

.lables {
  display: flex;
  font-size: 1.3rem;
}

.lable {
  padding-right: 15%;
}

#id {
  padding-right: 20px;
}